@model  Model.ViewModel.OrderViewViewModel

        <div class="row">

            @foreach (var item in Model.OrderList)
            {
                    <div >
                     @Html.Partial("_OrderDetailView", item,new ViewDataDictionary { {"tt",Model } });
                        </div>            
             }

        </div>
        <!-- /.row -->


